.categoria{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6BD1FF;
    color: white;
    width: 30%;
    height: 50px;
    border-radius: 12px;
}

.category-title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}